.signup{
    background: linear-gradient(180deg, rgb(131, 0, 0) 0%, rgb(0, 0, 0) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.signup__logo:hover{
    font-size: larger;
    transition: all 0.2s ease-in-out;
}

.signup__container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    padding: 20px;
    background-color: red;
    color: white;
    transition: all 0.2s ease-in-out;
}

.signup__container:hover{
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    width: 400px;
}

.signup__container > h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.signup__container > form > h5{
    margin-bottom: 5px;
}

.signup__container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.signup__container > form >input:hover{
    height: 40px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.08),
    0 15px 40px rgba(0, 0, 0, 0.8);
}

.signup__container > p{
    margin-top: 15px;
    font-size: 12px;
}

.signup__signInButton{
    background-color: rgb(29, 62, 252);
    border-radius: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(255, 255, 255);
    color: white;
}

.signup__registerButton {
    border-radius: 2px;
}

.signup__registerButton{
    border-radius: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgrey;
}