.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // flex-direction: column;
  }

  @media (max-width: 900px){
    .directory-menu{
      flex-direction: column;
    }
  }