* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

body{
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: gray;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(114, 0, 0);
  border-radius: 60px;
}

  
